* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  background-image: url(https://github.com/herbertribeiro19/FlixNet/blob/main/src/assets/Hero%20Image.png?raw=true);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
} 

.app{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}